*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d2d7dc;
}
h1{
    text-align: center;
    padding: 50px 0;
}
.pictures{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;

}
.card{
    width: 200px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card-one p{
    font-size:20px;
    font-weight: 600;
}

.card img{
    width: 60%;

}
.that-is-all p {
    font-size: 16px;
    font-weight: 600;
}
.that-is-all{
    border: none;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
}
hr{
    border: 2px;
    height: 3px;
    width: 100%;
    margin-top: ;
}
.separator-line{
    border: none;
    height: 1px;
    background-color: #272525;
    margin-top: 10px;
    width: 100%;
    flex-basis: 100%;
}






