body{
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paper-boat{height: 50px;
    margin-left: 550px;
    animation: paper-boat 2s ease-in-out infinite alternate;

}
.wave{height: 100px;
    margin-left:750px;
    animation: wave 2s ease-in-out infinite alternate;
}
@keyframes paper-boat {
    from{ transform: translate(0,0);}
    10%{transform:  translate(20px,10px);}
    20%{transform: translate(40px,-15px);}
    30%{transform: translate(60px,10px);}
    40%{transform: translate(80px,-20px);}
    50%{transform: translate(100px,15px);}
    60%{transform: translate(120px,-15px);}
    70%{transform: translate(140px,15px);}
    80%{transform: translate(160px,-15px);}
    90%{transform: translate(180px,15px);}
    to{transform: translate(200px,-15px);}

}
@keyframes wave {
   from{ transform: skew(15deg);}
    50%{transform: scale(1.3K);}
    to{transform: skew(15deg);}

}

